main {
  background-color: #646364;
}

h1 {
  text-align: center;
  font-size: 56px;
  margin: 0px;
  padding: 32px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
  font-weight: 400;
  margin: 16px 0px;
}

.container {
  text-align: center;
  padding: 8px 4px
}

.filter-container {
  padding: 8px 40px;
}


span {
  font-size: 32px;
}

ul {
  list-style-type: none;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 200px;
  width: 300px;
}

label {
  font-size: 32px;
}

select {
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 8px;
}

li {
  background-color: #9E9E9E;
  display: flex;
  justify-content:space-evenly;
  margin: 32px 16px;
  border-radius: 16px;
  height: 320px;
  width: 1200px;
}

.car-info {
  min-width: none;
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

button {
  height: 80px;
  width: 140px;
  border-radius: 8px;
  background-color: #ff0000;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.action > h4 {
  padding: 8px 16px;
  border-radius: 8px;
}

.car-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #f03355 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #f03355 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}
